* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first {
    background-color: #1F2937;
    padding: 30px 90px 90px 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}

li, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 8px 24px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 40%;
}

.subtext {
    margin: 16px 0px;
}
